body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.home {
  display: flex;
  height: 100vh;
}
.lateral {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  width: 25%;
  background-color: cornsilk;
  flex-shrink: 0;
  flex-grow: 0;
  overflow: auto;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 5px;
  background-color: lightgrey;
  justify-content: space-around;
  width: 100%;
}
.user-icon{
    gap:1rem;
    display:flex;
    flex-direction: column;
}
.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 10px;
}
.username {
  font-weight: bold;
}
.button {
  font-family: "Poppins", sans-serif;
}

.new-chat button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #af7a4c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.contact-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding-top: 1rem;
  background-color: moccasin;
 
}
.contact {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid cornsilk;
}

.contact-text {
  display: flex;
  flex-direction: column;
}

.contact-name {
  font-weight: bold;
}

.last-message {
  color: gray;
  font-size: 0.8rem;
}

.hero-image {
    background-color: cornsilk;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 1rem;
  width: 75%;
}

.hero-content {
  text-align: center;
}

.main-image {
  width: 100%;
  max-width: 200px;
  margin-bottom: 1rem;
}
hr {
    border: none;
    height: 5px;
    background-color: #090909; /* or any color */
    margin: 1rem 0;
  }